* {
    
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

.cont {
    width: 100%;
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
    
}

.header{

    width: 10px;
    padding: 20px
}
  
.testata {
    width: 100px;
    background-color: #fff;
    padding: 20px;
    
}
    

.gray {

    background-color: #f4f4f4;

}

.first-title {
    margin: 40px;
    background-color: white;
    width 80%;
 
    box-shadow: 0 0 10px;

}

.title {
    margin: 0 auto;
    padding: 20px;
    border: 1px 
    display: inline;
    box-sizing: content-box;
    font-family: sans-serif;
}

.square{

    width: 92%;
    height: 80%;
    margin: 40px 40px;
    padding: 10px 30px;
    border: 1px solid white;
    display: inline-block;

    box-shadow: 0 0 10px;
}

.cointaner {
 
width: 90%;
margin: 0 auto;
box-sizing: content-box;
background-color: #f4f4f4;

}

.tag {

    padding: 20 px 30px;
    font-family: sans-serif;
}

ul {
    list-style: none;
    
}

.list {
   box-sizing: content-box;
    display: inline-block;
}

.tog {
    color: #f4f4f4;
    display: inline-block;
    border-radius: 30px;
    weight 40px;
    height: 20px;
   
}

.edit {
    background-color: blue;
    font-weight: 10px;
    display: inline-block;

}