* {
    margin: 0;
    padding: 0;

}

.container {
    width: 10000px;
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px ;
    
}
  
.testata {
    width: 100px;
    background-color: #fff;
    padding: 20px;
    
}
    

.gray {

    background-color: #f4f4f4;
    
}

.first-title {
    margin: 40px;
    background-color: white;
    width: 800px;
    width 80%;
    box-shadow: 0 0 10px;
}

.title {
    margin: 0 auto;
    padding: 20px;
    border: 0px;
    display: inline;
    
}