* {
    
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

.cont {
    width: 100%;
    background-color: white;
    margin: 0px;
    border: 0px;
    padding: 0px;
        
}

#header{

    width: 250px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 25px;
    display: inline-block;
}
  
.testata {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    
}
    

.gray {

    background-color: #f4f4f4;

}

.first-title {
    margin: 40px 40px;
    background-color: white;
    width: 93%;
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 10px;

}

.title {
    margin: 0 auto;
    padding: 20px;
    border: 0px 
    display: inline-block;
    box-sizing: content-box;
    font-family: sans-serif;
    
    
}

.misur
{   font-size: 15px;
    font-weight: 10;
    font-family: sans-serif;
    display: inline-block;
    text-align: left;
    padding: 10px;
    margin-right: 20px;
}

.square{

    width: 89%;
    height: 80%;
    margin: px 40px;
    padding: 0px 30px 0px 30px;
    border: 1px solid white;
    display: inline-block;
    box-sizing: content-box;
    box-shadow: none;
    background-color: white;
}

.cointaner {
 
width: 90%;
margin: 0 auto;
box-sizing: content-box;
background-color: #f4f4f4;

}

.tag {

    padding: 20px 30px;
    font-family: sans-serif;
}

ul {
    list-style: none;
    
}

.list {
   box-sizing: content-box;
    display: inline-block;
}

.tog {
    color: #f4f4f4;
    display: inline-block;
    border-radius: 20px;
    width:  40px;
    height: 20px;
   
}

.edit {
    background-color: blue;
    font-weight: 100;
    display: inline-block;

}